.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr5);
  color: var(--secondary-clr1);
  padding: 1em;
}

.app-header nav {
  display: flex;
  text-align: center;
  gap: 10px;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}