.user-msg {
    position: fixed;
    bottom: 1em;
    left: 1em;
    padding: 1.5em;
    background-color: #F5F5F5;
    border-radius: 10px;
    font-family: 'google-sans';
    font-size: 1em;
    color: rgb(60, 64, 67);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    width: 300px;
    z-index: 1000;
    transition: all 0.7s ease-in-out;
}

.user-msg.success {
    background-color: #eaeceae8;
}

.user-msg.error {
    background-color: #FFCDD2;
}

.user-msg button {
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
}