.keep-index {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0;
}

.note {
    background-color: bisque;
    height: 12em;
    padding-top: 1em;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
    padding: 2em;
    box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.295);
    width: 300px;
    border-radius: 5px;
    word-break: break-all;
}