.mail-page {
    display: grid;
    grid-template-areas:
        "logo navbar"
        "compose sort"
        "menu main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto 1fr;
    color: #202124;
    background-image: url("../../../imgs/rainbow_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 100vh;
}

.mail-nav-bar {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mail-nav-bar input {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    background-position: 10px 10px;
    background-color: #cccccc62;
    color: #202124;
    padding-left: 40px;
    font-size: 1em;
}

.mail-nav-bar input::placeholder {
    color: #202124;
}

.mail-logo {
    grid-area: logo;
    padding-top: 0.4em;
    padding-left: 1.5rem;
    font-size: 1.5em;
    font-weight: 600;
    color: #202124;
}

.mail-compose {
    grid-area: compose;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.mail-compose button {
    background-color: #ffffffe3;
    border: none;
    color: #3b3c3f;
    font-size: 0.81em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    margin-left: 1em;
    cursor: pointer;
    border-radius: 17px;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
}

.mail-compose span {
    margin-right: 0.6em;
    color: #3b3c3f;
    font-size: 1.65em;
}

.mail-compose button:hover {
    background-color: #e5e5e5c2;
}

.mail-menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    padding: 10px;
    gap: 10px;
    list-style-type: none;
}

.mail-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0em;
}

.mail-menu li {
    overflow: visible;
    position: relative;
    cursor: pointer;
    color: #202124;
    font-size: 1rem;
    transition: .3s;
    padding: 0.6em;
    text-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
    font-size: 0.89em;
    background-color: transparent;
}

.mail-menu ul:hover li {
    text-shadow: rgba(0, 0, 0, 0.418) 0.55px 0.55px 1px;
    border-radius: 40px;
    color: #202124;
}

.mail-menu li::before {
    content: "";
    position: absolute;
    top: 0.15em;
    bottom: 0.15em;
    left: -100px;
    right: 0;
    background-color: inherit;
    z-index: -1;
    border-radius: 40px;
    transition: background-color .2s ease;
}

.mail-menu li:hover::before {
    background-color: #d1d1d177;
}

.mail-menu .material-icons {
    color: #202124;
    margin-right: 0.7em;
    font-size: 1.25em;
    text-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
}

.mail-menu li:hover .material-icons {
    text-shadow: rgba(0, 0, 0, 0.275) 0.55px 0.55px 1px;
    transition: .3 ease;
    color: #202124;
}

.mail-menu li,
.mail-menu .material-icons {
    z-index: 10;
    position: relative;
}

.mail-sort {
    grid-area: sort;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
}

.mail-sort button {
    background-color: #ffffffe3;
    border: none;
    color: #3b3c3f;
    font-size: 0.81em;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
}

.mail-sort button span {
    color: #3b3c3f;
    font-size: 1.65em;
}

.mail-sort button:hover {
    background-color: #e5e5e5c2;
}

.mail-list {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 0.37rem;
    margin-right: 1em;
    padding: 0.05rem;
    overflow-y: auto;
    border-radius: 13px;
    background-color: transparent;
}

.mail-details {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 0.4rem;
    margin-right: 1em;
    padding: 1.5rem;
    overflow-y: auto;
    background-color: #ffffff9f;
    border-radius: 13px;
}

.mail-subject {
    font-size: 1.5em;
    font-weight: bold;
    color: #202124;
    margin-bottom: 1em;
}

.mail-meta {
    font-size: 14px;
    color: #5f6368;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.mail-from,
.mail-to,
.mail-date {
    margin-bottom: 5px;
}

.mail-body {
    font-size: 1em;
    line-height: 1.5;
    color: #202124;
}

.mail-preview {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 2.5fr 4fr 1fr;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid #bcbcbc;
    border-left: none;
    border-right: none;
    background-color: #ffffff91;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-items: start;
    align-items: center;
    font-family: 'roboto';
}

.mail-preview:first-of-type {
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.mail-preview:last-of-type {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.mail-preview:hover {
    background-color: #d5d5d5;
}

.mail-preview.read {
    background-color: #dfdfdf;
}

.mail-preview.read:hover {
    background-color: #d5d5d5;
}

.mail-preview .icons {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.mail-preview .icons .material-icons {
    color: #454545;
    font-size: 16px;
}

.mail-preview .icons .material-icons:hover {
    color: #202124;
    transition: color 0.3s ease;
}

.mail-preview.read .contact,
.mail-preview.read .title,
.mail-preview.read .date {
    color: #5d5d5d;
    font-weight: 300;
}

.mail-preview .snippet {
    color: #808080;
    font-weight: 300;
    max-width: 100%;
}

.mail-preview .contact,
.mail-preview .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 500;
    font-size: 13px;
}

.mail-preview .snippet {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 300;
    font-size: 13px;
}

.mail-preview .date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 500;
    font-size: 11px;
    text-align: right;
    justify-self: end;
    letter-spacing: 0.032em;
}