.mail-page {
    display: grid;
    grid-template-areas:
        "logo navbar"
        "compose sort"
        "menu main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto 1fr;
    color: #202124;
    background-image: url("../../../imgs/rainbow_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 100vh;
}

.mail-nav-bar {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mail-nav-bar input {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    background-position: 10px 10px;
    background-color: #cccccc62;
    color: #202124;
    padding-left: 40px;
    font-size: 1em;
}

.mail-nav-bar input::placeholder {
    color: #202124;
}

.mail-logo {
    grid-area: logo;
    padding-top: 0.4em;
    padding-left: 1.5rem;
    font-size: 24px;
    font-weight: bold;
    color: #202124;
}

.mail-compose {
    grid-area: compose;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.mail-compose button {
    background-color: #ffffffe3;
    border: none;
    color: #202124;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 1em;
    cursor: pointer;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}

.mail-compose button:hover {
    background-color: #e5e5e5c2;
}

.mail-menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    padding: 10px;
    gap: 10px;
    list-style-type: none;
}

.mail-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0em;
}

.mail-menu li {
    cursor: pointer;
    color: #202124;
    font-size: 1rem;
    transition: 1s;
    padding: 0.5em;
}

.mail-menu li:hover {
    animation: jello 1s;
}

.mail-menu .material-icons {
    margin-right: 15px;
}

.mail-sort {
    grid-area: sort;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
}

.mail-sort button {
    background-color: #ffffffe3;
    border: none;
    color: #202124;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.mail-sort button:hover {
    background-color: #e5e5e5c2;
}

.mail-list {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 0.37rem;
    margin-right: 1em;
    padding: 0.05rem;
    overflow-y: auto;
    border-radius: 13px;
    background-color: transparent;
}

.mail-details {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 0.4rem;
    margin-right: 1em;
    padding: 1.5rem;
    overflow-y: auto;
    background-color: #ffffff9f;
    border-radius: 13px;
}

.mail-subject {
    font-size: 1.5em;
    font-weight: bold;
    color: #202124;
    margin-bottom: 1em;
}

.mail-meta {
    font-size: 14px;
    color: #5f6368;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.mail-from,
.mail-to,
.mail-date {
    margin-bottom: 5px;
}

.mail-body {
    font-size: 1em;
    line-height: 1.5;
    color: #202124;
}

.mail-preview {
    display: grid;
    grid-template-columns: 1fr 3fr 9fr 1.5fr;
    padding: 10px;
    gap: 20px;
    border-bottom: 1px solid #e1e0e0;
    border-left: none;
    border-right: none;
    background-color: #ffffff9f;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mail-preview:first-of-type {
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.mail-preview:last-of-type {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.mail-preview:hover {
    background-color: #e5e5e5c2;
}

.mail-preview.read {
    background-color: #f0f0f0;
}

.mail-preview.read:hover {
    background-color: #e2e2e2;
}

.mail-preview .icons {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.mail-preview .icons .material-icons {
    font-size: 19px;
}

.mail-preview .icons .material-icons:hover {
    color: #2c2c2c;
    transition: color 0.3s ease;
}

.mail-preview .title {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.mail-preview .snippet {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to left, transparent 1%, white 100%);
    mask-image: linear-gradient(to left, transparent 1%, white 100%);
}

.mail-preview .date {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}