@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: google-sans;
    src: url('../../fonts/google-sans/ProductSans-Regular.ttf');
}

@font-face {
    font-family: roboto-slab;
    src: url('../../fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf');
}