.mail-menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    margin-left: -1.9em;
    padding: 0.6em;
    gap: 10px;
    list-style-type: none;
}

.mail-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0em;
    list-style-type: none;
}

.mail-menu li {
    overflow: visible;
    position: relative;
    cursor: pointer;
    color: #202124;
    font-size: 1rem;
    transition: .3s;
    padding: 0.6em;
    text-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
    font-size: 0.89em;
    background-color: transparent;
}

.mail-menu ul li:hover {
    text-shadow: rgba(0, 0, 0, 0.418) 0.55px 0.55px 1px;
    border-radius: 40px;
    color: #202124;
}

.mail-menu li::before {
    content: "";
    position: absolute;
    top: 0.15em;
    bottom: 0.15em;
    left: -100px;
    right: 0;
    background-color: inherit;
    z-index: -1;
    border-radius: 40px;
    transition: background-color .2s ease;
}

.mail-menu li:hover::before {
    background-color: #d1d1d177;
}

.mail-menu li.curr-filter::before {
    background-color: #d1d1d177;
}

.mail-menu li.curr-filter {
    font-weight: 600;
}

.mail-menu .material-icons-outlined {
    color: #202124;
    margin-right: 0.7em;
    font-size: 1.25em;
    text-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
}

.mail-menu li:hover .material-icons-outlined {
    text-shadow: rgba(0, 0, 0, 0.275) 0.55px 0.55px 1px;
    transition: .3 ease;
    color: #202124;
}

.mail-menu .material-icons {
    vertical-align: middle;
    margin-right: 0.7em;
    margin-bottom: 0.05em;
    font-size: 1.25em;
    text-shadow: rgba(0, 0, 0, 0.10) 1.55px 1.55px 2px;
}

.mail-menu .material-icons.work-label{
    color: #1a73e8;
}

.mail-menu .material-icons.personal-label{
    color: #62e81a;
}

.mail-menu .material-icons.friends-label{
    color: #00897b;
}

.mail-menu .material-icons.important-label{
    color: #db7b2b;
}

.mail-menu .material-icons.spam-label{
    color: #db312b;
}

.mail-menu li:hover .material-icons {
    text-shadow: rgba(0, 0, 0, 0.275) 0.55px 0.55px 1px;
    transition: .3 ease;
}

.mail-menu li,
.mail-menu .material-icons-outlined,
.mail-menu .material-icons {
    z-index: 10;
    position: relative;
}

.mail-menu li.unread-exists {
    position: relative;
    font-weight: 600;
}

.mail-menu .unread-count {
    font-weight: 600;
    position: absolute;
    right: 1.3em;
    top: 28%;
    text-shadow: rgba(0, 0, 0, 0.275) 0.55px 0.55px 1px;
    font-size: 0.8em;
}